@use "helper/mixin" as *;
@use "helper/variable" as *;
@use "component/btn" as *;
@use "component/header" as *;
@use "component/animation" as *;
@use "component/shadow" as *;
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* start Container */
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    @include breakpoints(small) {
        width: 750px;
    }
    @include breakpoints(medium) {
        width: 970px;
    }
    @include breakpoints(large) {
        width: 1170px;
    }
}
/* End Container */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
    &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0px 0 70px 180px hwb(289deg 8% 65% / 24%);
        z-index: 2;
    }
}
// Stasrt Header Section
header {
    position: absolute;
    width: 100%;
    z-index: 2;
    color: $text-color;
    .content {
        padding: 40px 0 25px;
        &,
        .top,
        .left-list,
        .right-list {
            @include flex(space-between, row, wrap, center);
        }
        ul {
            width: 13rem;
            a {
                color: $text-color;
            }
        }
        i {
            padding: 0 10px;
        }
    }
    // Start Nav Section
    nav {
        border: 1px solid $text-color;
        border-left: 0;
        border-right: 0;
        ul {
            overflow-y: hidden;
            @include flex(space-between, row, wrap, center);
            padding: 15px 20px;
            li {
                position: relative;
                a {
                    color: $text-color;
                }
                &:hover {
                    &::after {
                        content: "";
                        width: 2px;
                        position: absolute;
                        height: 5px;
                        background-color: $text-color;
                        left: 50%;
                        margin-top: 18px;
                        animation: active-list 0.5s forwards;
                    }
                }
            }
        }
    }
    // End Nav Section
}
// End Header Section

// Start Hero Section
main {
    position: relative;
    background-image: url("/images/2.jpg");
    background-size: cover;
    height: 130vh;
    width: 100vw;
    color: $text-color;
    transform: rotateY(180deg);
    top: -60px;
    .container {
        height: 100%;
        position: relative;
    }
    .text {
        position: absolute;
        transform: rotateY(180deg);
        top: 50%;
        left: 15px;
        h1 {
            font-size: 54px;
            margin-bottom: 10px;
        }
        p {
            font-size: 34px;
        }
    }
}
// End Hero Section

// start coin Section
.coin {
    position: relative;
    background-image: url("/images/header-bg.png");
    background-size: 50%;
    background-repeat: repeat-x;
    top: -60px;
    .container {
        padding: 10px;
        background-color: $text-color;
        @include flex(space-between, row, wrap, center);
        .box {
            padding: 15px 25px;
            width: 280px;
            margin: 20px;
            border: 1px solid $border-color;
            @include flex(space-between, row, wrap, center);
            .col {
                @include flex(center, column, wrap, center);
                span {
                    &:first-child {
                        color: $span-color;
                    }
                    &:nth-child(2) {
                        margin-top: 15px;
                        &.up {
                            color: green;
                        }
                        &.down {
                            color: red;
                        }
                    }
                }
            }
        }
        .button {
            flex-grow: 2;
            margin: 10px auto;
            @include flex(center, row, wrap, center);
        }
    }
}
// End coin Section

// Start Services Section
.services {
    position: relative;
    margin-bottom: 180px;
    .container {
        position: relative;
        h2 {
            text-align: center;
        }
        ul {
            padding: 20px 0;
            margin: 0 80px;
            @include flex(space-between, row, wrap, center);
            .ServicesDot {
                color: $span-color;
                cursor: pointer;
                position: relative;
            }
            .active.ServicesDot {
                color: black;
                &::after {
                    content: "";
                    content: "";
                    width: 2px;
                    position: absolute;
                    height: 25px;
                    background-color: $primary-color;
                    left: 50%;
                    margin-top: 25px;
                    animation: active-list 0.5s forwards;
                }
            }
        }
    }
    .service {
        background-image: url("/images/islamic.png");
        background-size: 600px;
        margin: 80px 0;
        height: 400px;
        .box {
            position: relative;
            background-color: $text-color;
            height: 480px;
            border: 1px solid #eee;
            top: -50px;
            margin: 0 80px;
            @include flex(space-between, row, wrap, revert);
            .content {
                @include flex(space-between, column, wrap, start);
                max-width: 600px;
                padding: 40px;
                color: $paragraph-color;
                h3 {
                    font-size: 40px;
                    color: $primary-color;
                    padding: 40px 0;
                }
                p {
                    font-size: 20px;
                    margin-bottom: 40px;
                }
            }
            .image {
                position: absolute;
                background-color: #73659a;
                height: 100%;
                width: 350px;
                left: 0;
                top: 0;
                overflow: hidden;
                img {
                    &:first-child {
                        z-index: 2;
                        height: 80%;
                        margin-right: -380px;
                        margin-top: 70px;
                        position: relative;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        top: 120px;
                    }
                    &:nth-child(3) {
                        width: 40%;
                        height: 30%;
                        left: 0px;
                        top: 200px;
                    }
                }
            }
        }
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
    }
    .design {
        img {
            &:first-child {
                position: absolute;
                left: 10px;
                height: 70px;
                bottom: -90px;
            }
        }
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -100px;
        color: $primary-color;
        font-size: 40px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .next {
        left: 0;
        border-radius: 3px 0 0 3px;
    }
}
// End Services Section

// Start App Section
.app {
    background-color: $background-color;
    .container {
        @include flex(space-between, row, no-wrap, center);
        .image {
            width: 70%;
            img {
                width: 100%;
            }
        }
        .content {
            padding: 20px;
            position: relative;
            .boxes {
                position: relative;
                height: 440px;
                .box {
                    background-color: $text-color;
                    border-radius: 20px;
                    max-width: 570px;
                    padding: 20px 20px 80px 10px;
                    margin: 60px 0;
                    position: absolute;
                    transition: left 2s ease;
                    h3 {
                        margin: 20px 10px;
                    }
                    ul {
                        @include flex(space-between, row, wrap, center);
                        margin-bottom: 20px;
                        li {
                            width: calc((100% - 60px) / 3);
                            margin: 10px;
                        }
                    }
                }
                img {
                    width: calc(100% / 3);
                    padding-left: 40px;
                }
            }
            .mySlides {
            }
            .dot {
                cursor: pointer;
                height: 8px;
                width: 25px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 30px;
                display: inline-block;
                transition: background-color 0.6s ease-in-out;
            }

            .active {
                transition: background-color 0.6s ease-in-out;
                background-color: $primary-color;
                width: 140px;
            }
        }
    }
}
// End App Section

// Start News Section
.news {
    margin: 60px 0 80px;
    h2 {
        text-align: center;
    }
    .boxes {
        margin: 60px 0;
        @include flex(space-between, row, no-wrap, center);
        .box {
            position: relative;
            overflow: hidden;
            .animation {
                position: absolute;
                width: 2px;
                height: 50px;
                background-color: $text-color;
                left: 50%;
                top: -50%;
            }
            &:hover .animation {
                animation: news 0.5s forwards;
            }
            .active {
                color: $text-color;
                position: absolute;
                overflow: hidden;
                clip-path: circle(1px at 50% 50px);
                .description {
                    height: 360px;
                    padding: 26px;
                    box-shadow: 100px 400px 20px 20px inset
                        rgb(134 119 160 / 66%);
                    h3,
                    p {
                        opacity: 0;
                    }
                    h3 {
                        padding: 140px 0 15px;
                        text-align: center;
                    }
                }
                .d-link {
                    height: 200px;
                    box-shadow: 100px 400px 20px 20px inset rgb(134 119 160);
                    text-align: center;
                    padding-top: 100px;
                    a {
                        color: $text-color;
                        padding: 10px 5px;
                        opacity: 0;
                        border-bottom: 1px solid $text-color;
                    }
                }
            }
            &:hover .active {
                animation: active 1s forwards 0.5s;
            }
            &:hover .description h3,
            &:hover .description p,
            &:hover .d-link a {
                animation: opacity 1s forwards 1s;
            }
            img {
                width: 350px;
                height: 360px;
            }
            .text {
                height: 200px;
                padding: 40px 40px 20px;
                .link {
                    padding: 10px 0;
                    color: $paragraph-color;
                    margin-top: 40px;
                    border-bottom: 1px solid $primary-color;
                    width: fit-content;
                    font-size: 18px;
                }
            }
        }
    }
    .button {
        text-align: center;
    }
}
// End News Section

// Start Number Secttion
.number {
    background-color: #3d2260;
    padding: 20px 0 60px;
    color: $text-color;
    .container {
        position: relative;
        &::before {
            content: attr(data-content);
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 60px;
        }
    }
    h2 {
        color: $text-color;
    }
    .boxes {
        @include flex(space-between, row, wrap, center);
        .box {
            height: fit-content;
            margin: 20px 0;
            border-bottom: 4px solid $primary-color;
            span {
                color: $text-color;
                padding: 20px 10px;
            }
            p {
                width: 60%;
                // font-size: 1/px;
            }
            padding: 20px;
            width: calc((100% - 200px) / 4);
        }
    }
}
// End Number Secttion

// Start Location Section
.location {
    .container {
        @include flex(space-between, row, no-wrap, center);
        img {
            width: 700px;
        }
        .content {
            margin-top: 120px;
            .boxes {
                margin-right: -25px;
                text-align: center;
                width: 300px;
                @include flex(space-between, row, no-wrap, center);
                .box {
                    color: $primary-color;
                    font-weight: bold;
                    font-size: 20px;
                    width: calc(100% / 3);

                    &:not(:last-of-type) span {
                        padding: 0 35px 10px;
                        border-left: 2px solid $primary-color;
                    }
                    p {
                        padding: 20px 0;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .button {
        margin: 60px 0;
    }
}
// End Location Section

// Start Footer
footer{
    background-color: #73659a;
    .image{
        width: 80%;
        padding: 40px 0;
        border-bottom: 1px solid #bbb;
        @include flex(start, column, no-wrap, center);
    }
    .container{
    @include flex(start, column, no-wrap, center);
    ul.main{
        padding: 40px 0;
        width: 80%;
    @include flex(space-between,row, no-wrap, start);
    li.first{
        color: $text-color;
        width: calc((100% - 10px) / 6);
        li a{
            color: #bbb;
            &:hover{
            color: $text-color;
            }
        }
    }

    }
}
}
// End Footer