@use "component/header" as *;
@use "helper/mixin" as *;
@use "helper/variable" as *;
@use "component/btn" as *;
@use "component/animation" as *;
@use "component/shadow" as *;
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* start Container */
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    @include breakpoints(mobile) {
        max-width: 100%;
    }
    @include breakpoints(small) {
        max-width: 750px;
        // width: 100%;
    }
    @include breakpoints(medium) {
        max-width: 970px;
    }
    @include breakpoints(large) {
        // width: 970px;
        max-width: 1120px;
    }
    @include breakpoints(x-large) {
        // width: 970px;
        max-width: 1300px;
    }
}
/* End Container */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
    font-family: "GE SS Two";
    &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0px 0 70px 180px hwb(289deg 8% 65% / 24%);
        z-index: 2;
    }
}
// Stasrt Header Section
header {
    position: absolute;
    width: 100%;
    z-index: 2;
    color: $text-color;
    a {
        font-family: "GE SS Two";
        font-weight: 200;
        font-size: 14px;
    }
    .content {
        padding: 40px 0 25px;
        .minu {
            display: none;
            min-width: 40px;
            top: 0px;
            position: absolute;
            span {
                width: 30px;
                height: 2px;
                position: absolute;
                background-color: white;
                top: 60px;
                z-index: 2;
            }
            span:last-child {
                width: 20px;
                margin-top: 10px;
            }
            @include breakpoints(small) {
                display: block;
            }
        }
        .rotate {
            left: 50px;
            span:first-child {
                transform: rotate3d(1, 1, 1, 60deg);
            }
            span:last-child {
                transform: rotate3d(1, 2, 1, 180deg);
                width: 32px;
                top: 45px;
            }
        }
        &,
        .top,
        .left-list,
        .right-list {
            @include flex(space-between, row, nowrap, center);
        }

        .left-list .points,
        .right-list {
            @include breakpoints(small) {
                display: none;
            }
        }
        img {
            @include breakpoints(small) {
                width: 200px;
            }
        }
        ul {
            width: 13rem;
            @include breakpoints(small) {
                width: fit-content;
            }
            a {
                color: $text-color;
            }
            a.lang {
                font-family: "Helvetica Neue LT Pro";
                font-weight: 500;
                font-size: 12px;
            }
        }
        i {
            padding: 0 10px;
        }
    }

    // Start Nav Section
    nav {
        position: relative;
        ul.main-list {
            overflow-y: hidden;
            @include flex(space-between, row, wrap, center);
            padding: 0 20px;
            border: 1px solid $text-color;
            border-left: 0;
            border-right: 0;
            @include breakpoints(small) {
                @include flex(start, column, wrap, start);
                display: none;
                border: none;
                background-color: #73659ae0;
                position: absolute;
                width: 100vw;
                height: 100vh;
                top: -112px;
                padding-top: 100px;
                right: -15px;
                &.responsive {
                    display: flex;
                }
            }
            li {
                // position: relative;
                padding: 15px 0;
                .info {
                    background-color: white;
                    position: absolute;
                    top: 52px;
                    width: 100%;
                    height: 60vh;
                    right: 0;
                    padding: 60px 80px;
                    background-image: url("/images/Al-_Kurimi_3\ f4.png");
                    background-size: cover;
                    @include flex(start, row, wrap, start);
                    display: none;
                    h2 {
                        width: 300px;
                    }
                    .list {
                        width: 300px;
                        h3 {
                            color: $seconed-color;
                            font-weight: 200;
                            padding: 40px 0 20px;
                            font-size: 18px;
                        }
                        li {
                            padding: 20px 15px;
                            color: $seconed-color;
                            a {
                                color: #333;
                                text-shadow: none;
                            }
                        }
                    }
                }
                a {
                    position: relative;
                    color: $text-color;
                    text-shadow: 0 1px 5px #111;

                    &:hover {
                        &::after {
                            content: "";
                            width: 2px;
                            position: absolute;
                            height: 5px;
                            background-color: $text-color;
                            left: 50%;
                            margin-top: 18px;
                            animation: active-list 0.5s forwards;
                            @include breakpoints(small) {
                                display: none;
                            }
                        }
                    }
                }
                &:hover {
                    .info {
                        display: flex;
                        // animation: minu 0.5s forwards 0.5s;
                        @include breakpoints(small) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    // End Nav Section
}
// End Header Section

// Start Hero Section
main {
    position: relative;
    background-image: url("/images/2.jpg");
    background-size: cover;
    height: 130vh;
    color: $text-color;
    transform: rotateY(180deg);
    top: -70px;
    @include breakpoints(small) {
        background-size: cover;
        height: 110vh;
    }
    .container {
        height: 100%;
        position: relative;
    }
    .text {
        position: absolute;
        transform: rotateY(180deg);
        top: 52%;
        left: 15px;
        @include breakpoints(small) {
            top: 40%;
        }

        h1 {
            margin-bottom: 10px;
            @include breakpoints(small) {
                font-size: 36px;
                text-align: center;
            }
        }
        p {
            font-size: 30px;
            font-family: "GE SS Two";
            font-weight: 300;
            text-shadow: 0 1px 5px #555;
            @include breakpoints(small) {
                font-size: 24px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}
// End Hero Section

// start coin Section
.coin {
    position: relative;
    background-image: url("/images/header-bg.png");
    background-size: 50%;
    background-repeat: repeat-x;
    top: -70px;
    .container {
        padding: 10px;
        background-color: $text-color;
        @include flex(space-between, row, wrap, center);
        @include breakpoints(small) {
            @include flex(center, row, wrap, center);
        }
        .box {
            padding: 15px 25px;
            width: 280px;
            margin: 20px;
            border: 1px solid $border-color;
            @include flex(space-between, row, wrap, center);
            .col {
                @include flex(center, column, wrap, center);
                span {
                    &:first-child {
                        color: $span-color;
                    }
                    &:nth-child(2) {
                        margin-top: 15px;
                        font-family: "Hacen Tunisia";
                        &.up {
                            color: green;
                        }
                        &.down {
                            color: red;
                        }
                    }
                }
            }
        }
        .button {
            width: 200px;
            margin: 10px auto;
            @include flex(center, row, wrap, center);
            @include breakpoints(small) {
                width: 100%;
            }
        }
    }
}
// End coin Section

// Start Services Section
.services {
    position: relative;
    margin-bottom: 180px;
    .container {
        position: relative;
        h2 {
            text-align: center;
            margin-bottom: 40px;
            @include breakpoints(mobile) {
                margin-bottom: 20px;
            }
        }
        ul {
            padding: 20px 0;
            margin: 0 80px;
            font-size: 14px;
            @include breakpoints(mobile) {
                margin: 10px;
                font-size: 2.3vw;
            }
            @include flex(space-between, row, wrap, center);
            .ServicesDot {
                color: $span-color;
                cursor: pointer;
                position: relative;
            }
            .active.ServicesDot {
                color: black;
                &::after {
                    content: "";
                    width: 2px;
                    position: absolute;
                    height: 25px;
                    background-color: $primary-color;
                    background-size: cover;
                    left: 50%;
                    margin-top: 25px;
                    animation: active-list 0.5s forwards;
                    @include breakpoints(mobile) {
                        margin-top: 15px;
                        height: 10px;
                    }
                }
            }
        }
    }
    .service {
        background-image: url("/images/islamic.png");
        background-size: 600px;
        margin: 80px 0;
        height: 340px;
        // .container{
        // display: flex;
        // }
        .slider {
            width: 100%;
            .slider-wrapper {
                display: flex;
                position: relative;
                height: 440px;
                top: -50px;
                margin: 0 80px;
                overflow: hidden;
                @include breakpoints(mobile) {
                    margin: auto;
                    width: 95%;
                }
                .box {
                    position: absolute;
                    background-color: $text-color;
                    height: 440px;
                    border: 1px solid #eee;
                    width: 100%;
                    transform: translateX(-100%);
                    transition: 0.5s ease-in-out;
                    &.active {
                        transform: translateX(0);
                        z-index: 2;
                    }

                    @include flex(space-between, row, wrap, revert);
                    .content {
                        @include flex(space-between, column, wrap, start);
                        max-width: 600px;
                        padding: 40px;
                        color: $paragraph-color;
                        @include breakpoints(large) {
                            width: 65%;
                        }
                        @include breakpoints(mobile) {
                            width: 100%;
                            padding: 20px;
                        }

                        h3 {
                            color: $primary-color;
                            padding: 40px 0;
                        }
                        p {
                            margin-bottom: 40px;
                            height: 160px;
                        }
                        button {
                            padding: 15px 50px;
                        }
                    }
                    .image {
                        position: absolute;
                        background-color: #73659a;
                        height: 100%;
                        width: 300px;
                        left: 0;
                        top: 0;
                        overflow: hidden;
                        @include breakpoints(small) {
                            display: none;
                        }
                        img {
                            &:first-child {
                                z-index: 2;
                                height: 80%;
                                margin-right: -350px;
                                margin-top: 70px;
                                position: relative;
                            }
                            &:nth-child(2),
                            &:nth-child(3) {
                                position: absolute;
                                width: 100%;
                                height: 50%;
                                top: 120px;
                            }
                            &:nth-child(3) {
                                width: 40%;
                                height: 30%;
                                left: 0px;
                                top: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
    .design {
        img {
            &:first-child {
                position: absolute;
                left: 10px;
                height: 70px;
                bottom: -90px;
            }
        }
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -100px;
        color: $primary-color;
        font-size: 40px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        @include breakpoints(mobile) {
            padding: 5px;
            right: 2px;
            font-size: 30px;
        }
    }
    .next {
        left: 0;
        border-radius: 3px 0 0 3px;
        @include breakpoints(mobile) {
            right: 95%;
        }
    }
}
// End Services Section

// Start App Section
.app {
    background-color: $background-color;
    // overflow-x: hidden;
    border-radius: 0px 0px 20%;
    #wave {
        position: relative;
        height: 70px;
        margin-bottom: 100px;
        margin-top: -70px;
        background: $text-color;
        &::before {
            content: "";
            display: block;
            position: absolute;
            border-radius: 130% 100%;
            width: 105%;
            height: 70px;
            background-color: $text-color;
            left: 0;
            top: 27px;
        }
    }
    .overflow {
        overflow-x: clip;
        width: 100%;
        height: 100%;
    }
    .container {
        @include flex(space-between, row, nowrap, center);
        .image {
            width: 90%;
            @include breakpoints(large) {
                width: 85%;
            }
            @include breakpoints(small) {
                display: none;
            }
            img {
                width: 85%;
                @include breakpoints(large) {
                    width: 100%;
                }
            }
        }
        .content {
            padding: 40px;
            padding-bottom: 0;
            position: relative;
            @include breakpoints(small) {
                padding: 0px;
            }
            .boxes {
                position: relative;
                height: 440px;
                .box {
                    background-color: $text-color;
                    border-radius: 20px;
                    max-width: 600px;
                    padding: 20px 20px 80px 10px;
                    margin: 60px 0;
                    margin-left: 20px;
                    position: absolute;
                    transition: right 2s ease;
                    @include breakpoints(large) {
                        max-width: 50vw;
                    }
                    @include breakpoints(small) {
                        max-width: 65%;
                    }
                    @include breakpoints(mobile) {
                        max-width: 100%;
                        padding-bottom: 40px;
                    }
                    h3 {
                        margin: 20px 10px;
                        font-size: 24px;
                        color: #444;
                    }
                    ul {
                        @include flex(start, row, wrap, start);
                        margin-bottom: 20px;
                        font-size: 14px;
                        li {
                            width: calc((100% - 60px) / 3);
                            margin: 10px;
                        }
                        @include breakpoints(large) {
                            font-size: 14px;
                        }
                        @include breakpoints(medium) {
                            font-size: 12px;
                        }
                        img {
                            width: 80%;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        .mySlides {
        }
        .dot {
            cursor: pointer;
            height: 8px;
            width: 25px;
            margin: 30px 2px 0;
            background-color: #bbb;
            border-radius: 30px;
            display: inline-block;
            transition: background-color 0.6s ease-in-out;
        }

        .active {
            transition: background-color 0.6s ease-in-out;
            background-color: $primary-color;
            width: 140px;
        }
    }
    #wave-two {
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 190% 59%;
            width: 114vw;
            height: 22vw;
            background-color: #f4f7fb;
            left: 0;
            bottom: -60px;
            z-index: -1;
            @include breakpoints(small) {
                width: 160vw;
                height: 28vw;
            }
            @include breakpoints(mobile) {
                width: 146vw;
                height: 50vw;
            }
        }
    }
}
// End App Section

// Start News Section
.news {
    overflow: hidden;
    padding: 100px 0;
    position: relative;
    .layer1 {
        position: absolute;
        right: -40px;
        top: -20px;
        z-index: -3;
    }
    .container {
        position: relative;
        h2 {
            text-align: center;
        }
        .slide-wrapper {
            width: 100%;
            overflow: hidden;
            position: relative;
            .boxes {
                margin: 80px 0 60px;
                width: calc(100% / 3 * 7);
                height: 100%;
                position: relative;
            }
            .box {
                position: relative;
                overflow: hidden;
                display: inline-block;
                margin-bottom: 60px;
                margin-left: 25px;
                width: 400px;
                height: 600px;
                transition: 0.5s ease-in-out;

                img {
                    width: 100%;
                }
                .text {
                    height: 190px;
                    padding: 40px 40px 20px;
                    background-color: $text-color;
                    .link {
                        padding: 10px 0;
                        color: $paragraph-color;
                        margin-top: 40px;
                        border-bottom: 1px solid $primary-color;
                        width: fit-content;
                        font-size: 16px;
                    }
                }
                .animation {
                    position: absolute;
                    width: 2px;
                    height: 50px;
                    background-color: $text-color;
                    left: 50%;
                    top: -50%;
                }
                &:hover .animation {
                    animation: news 0.5s forwards;
                }
                .active {
                    color: $text-color;
                    position: absolute;
                    overflow: hidden;
                    height: 100%;
                    clip-path: circle(1px at 50% 50px);
                    .description {
                        height: calc(100% - 195px);
                        padding: 40px;
                        box-shadow: 100px 400px 20px 20px inset
                            rgb(134 119 160 / 66%);
                        h3,
                        p {
                            opacity: 0;
                        }
                        h3 {
                            padding: 150px 0 15px;
                            text-align: center;
                            @include breakpoints(large) {
                                padding: 40px 0 15px;
                            }
                        }
                        p {
                            color: #f9f9f9;
                            font-weight: 200;
                            line-height: 1.6;
                            font-size: 16px;
                            letter-spacing: -0.2px;
                            @include breakpoints(medium) {
                                font-size: 14px;
                            }
                            @include breakpoints(small) {
                                font-size: 12px;
                            }
                        }
                    }
                    .d-link {
                        height: 195px;
                        box-shadow: 100px 400px 20px 20px inset rgb(134 119 160);
                        text-align: center;
                        padding-top: 100px;
                        a {
                            color: $text-color;
                            padding: 10px 5px;
                            opacity: 0;
                            border-bottom: 1px solid $text-color;
                        }
                    }
                }
                &:hover .active {
                    animation: active 1s forwards 0.5s;
                }
                &:hover .description h3,
                &:hover .description p,
                &:hover .d-link a {
                    animation: opacity 1s forwards 1s;
                }
            }
        }
    }

    .slider-btn {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 110%;
        position: absolute;
        top: 50%;
        margin-right: -80px;
        .prev,
        .next {
            cursor: pointer;
            padding: 16px;
            color: $primary-color;
            font-size: 40px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            @include breakpoints(mobile) {
                padding: 5px;
                right: 2px;
                font-size: 30px;
            }
        }
        .next {
            left: 0;
            border-radius: 3px 0 0 3px;
            @include breakpoints(mobile) {
                right: 95%;
            }
        }
    }
}

.button {
    text-align: center;
}
.new-wave {
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        /* border-radius: 699px 750px 0 0; */
        border-radius: 50%;
        width: 130vw;
        height: 120vw;
        background-color: $background-color;
        left: -340px;
        top: -500px;
        z-index: -1;
        @include breakpoints(small) {
            left: -130px;
        }
        @include breakpoints(mobile) {
            left: -50px;
            top: -220px;
        }
    }
}
.layer2 {
    position: absolute;
    left: -40px;
    bottom: 60px;
    z-index: -1;
    img {
        width: 55px;
    }
    img:last-child {
        width: 100px;
    }
}

// End News Section

// Start Number Secttion
.number {
    background-color: #341d51;
    padding: 20px 0 60px;
    color: $text-color;
    position: relative;
    h2 {
        color: $text-color;
        padding: 60px 0;
    }
    .boxes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 80px;
        position: relative;
        z-index: 2;
        padding: 0 40px;
        @include breakpoints(large) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 40px;
            padding: 0 10px;
        }
        @include breakpoints(mobile) {
            grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        }
        .box {
            padding: 20px;
            height: fit-content;
            border-bottom: 4px solid #aba3d0;
            span {
                color: $text-color;
                padding: 20px 10px;
                font-size: 65px;
                @include breakpoints(large) {
                    font-size: 28px;
                }
            }
            p {
                width: 80%;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.4;
                @include breakpoints(small) {
                    font-size: 12px;
                }
            }
            a:hover {
                cursor: pointer;
                &::before {
                    content: attr(data-content);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-family: "Hacen Tunisia";
                    font-size: 36vw;
                    right: -65px;
                    top: -30px;
                    color: #2f194b;
                    z-index: -1;
                    @include flex(center, row, nowrap, center);
                    @include breakpoints(mobile) {
                        display: none;
                    }
                }
            }
        }
    }
}
// End Number Secttion

// Start Location Section
.location {
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    .layer1 {
        position: absolute;
        right: -50px;
        top: 100px;
        z-index: -3;
        img {
            width: 9vw;
        }
    }
    .container {
        @include flex(space-between, row, nowrap, center);
        @include breakpoints(mobile) {
            @include flex(center, row, nowrap, center);
            text-align: center;
        }
        h2 {
            margin-bottom: 60px;
            margin-right: 10px;
            font-weight: 600;
        }
        img {
            width: 51vw;
            @include breakpoints(mobile) {
                display: none;
            }
        }
        .content {
            margin-top: 160px;
            .boxes {
                text-align: center;
                width: 360px;
                margin-right: -30px;
                @include flex(space-between, row, nowrap, center);

                .box {
                    color: $primary-color;
                    font-weight: 600;
                    font-size: 20px;
                    width: calc(100% / 3);
                    &:not(:last-of-type) span {
                        padding: 0 45px 10px;
                        border-left: 2px solid $primary-color;
                    }
                    span {
                        font-family: "Hacen Tunisia";
                    }
                    p {
                        padding: 20px 0;
                        font-weight: normal;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .button {
        margin: 60px 0;
    }
    .layer2 {
        position: absolute;
        left: -20px;
        bottom: 0px;
        z-index: -3;
        img {
            width: 4vw;
        }
    }
}
// End Location Section

// Start Footer
footer {
    background-color: #73659a;
    position: relative;
    overflow: hidden;
    .layer1 {
        position: absolute;
        right: -200px;
        top: -90px;
        img {
            width: 36vw;
        }
    }
    .image {
        width: 90%;
        margin: auto;
        padding: 40px 0;
        border-bottom: 1px solid #bbb;
        @include flex(start, column, nowrap, center);
        img {
            @include breakpoints(small) {
                width: 200px;
            }
        }
    }
    .container {
        @include flex(start, column, nowrap, center);
        ul.main {
            padding: 60px 0;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
            gap: 65px;
            line-height: 1.3;
            @include breakpoints(small) {
                gap: 40px;
            }
            li.first {
                color: $text-color;
                li a {
                    color: #c2c1c1;
                    font-weight: 100;
                    font-size: 14px;
                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
        .links {
            width: 90%;
            padding: 20px 0;
            @include flex(space-between, row, nowrap, center);
            @include breakpoints(mobile) {
                @include flex(center, column, nowrap, center);
            }
            .social {
                color: $text-color;
                font-size: 24px;
                width: 50%;
                @include breakpoints(mobile) {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 40px;
                }
                i {
                    padding-left: 70px;
                }
            }
            .google-play {
                @include flex(space-between, row, nowrap, center);
                @include breakpoints(mobile) {
                    margin-right: -50px;
                }
                img {
                    width: 120px;
                    margin-right: 10px;
                }
            }
        }
        .copy-right {
            color: $text-color;
            margin: 60px 0 40px;
            font-size: 12px;
            letter-spacing: 1.4;
            span {
                font-family: "Helvetica Neue LT Pro";
            }
        }
    }
    .layer2 {
        position: absolute;
        top: 200px;
        left: -150px;
        img {
            transform: rotateY(180deg);
            width: 36vw;
        }
    }
}
// End Footer
