.h-1 {
  font-size: 57px;
  font-family: "Hacen Tunisia";
  font-weight: 200;
}
@media (max-width: 991px) {
  .h-1 {
    font-size: 36px;
  }
}

.h-2 {
  padding: 26px 0;
  font-size: 46px;
  font-family: "Hacen Tunisia";
  color: #73659A;
  font-weight: 400;
}
@media (max-width: 991px) {
  .h-2 {
    font-size: 30px;
  }
}

.h-3 {
  font-size: 30px;
}
@media (max-width: 991px) {
  .h-3 {
    font-size: 20px;
  }
}

.f-4 {
  font-size: 14px;
  color: #666;
  line-height: 2;
}
@media (max-width: 767px) {
  .f-4 {
    font-size: 12px;
  }
}

.f-5 {
  font-size: 22px;
}
@media (max-width: 991px) {
  .f-5 {
    font-size: 20px;
  }
}

.f-16pt {
  font-size: 16pt;
  line-height: 1.8;
}

.btn {
  border: 1.5px solid #73659A;
  padding: 15px 25px;
  background-color: transparent;
  color: #73659A;
  font-size: 16px;
  cursor: pointer;
  min-width: 140px;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.btn-2 {
  background-color: #E26E0B;
  border: 1.5px solid #E26E0B;
  border-radius: 2px;
  padding: 15px 25px;
  color: white;
}

@-webkit-keyframes news {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

@keyframes news {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes active-list {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
@keyframes active-list {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
@-webkit-keyframes minu {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@keyframes minu {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@-webkit-keyframes active {
  from {
    -webkit-clip-path: circle(6px at 50% 50px);
            clip-path: circle(6px at 50% 50px);
  }
  to {
    -webkit-clip-path: circle(130% at 50% 50px);
            clip-path: circle(130% at 50% 50px);
  }
}
@keyframes active {
  from {
    -webkit-clip-path: circle(6px at 50% 50px);
            clip-path: circle(6px at 50% 50px);
  }
  to {
    -webkit-clip-path: circle(130% at 50% 50px);
            clip-path: circle(130% at 50% 50px);
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.shadow {
  box-shadow: 0px 10px 10px 0px rgba(115, 101, 154, 0.0901960784);
}

.shadow-inset {
  box-shadow: 100px 400px 20px 20px inset rgba(251, 251, 251, 0.95);
} /* start Container */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

main {
  position: relative;
  background-color: #73659a;
  background-image: url("/images/Al-_Kurimi_3 f4.png");
  background-size: cover;
  height: 110vh;
  color: white;
  padding-right: 12vw;
}
@media (max-width: 991px) {
  main {
    background-size: cover;
    height: 110vh;
  }
}
main .container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
main .text {
  padding-left: 20px;
  width: 50%;
  text-align: start;
}
@media (max-width: 991px) {
  main .text {
    top: 40%;
  }
}
main .text h1 {
  font-size: 50px;
}
@media (max-width: 991px) {
  main .text h1 {
    font-size: 36px;
    text-align: center;
    text-shadow: 0 1px 5px #555;
  }
}
main .text p {
  font-family: "GE SS Two";
  font-weight: 200;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  main .text p {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
}
main .text p .number {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 500;
  color: #E26E0B;
}
main .images {
  width: 50%;
  position: relative;
}
main .images img {
  position: absolute;
  width: 200%;
  top: -320px;
  left: -40px;
}

.adventages {
  position: relative;
  background-image: url("/images/header-bg.png");
  background-size: 70%;
  background-repeat: repeat-x;
}
.adventages .container {
  background-color: white;
  position: relative;
  padding: 40px;
  z-index: 4;
  top: -200px;
}
.adventages .container .main-adv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.adventages .container .main-adv .box {
  padding: 20px 40px;
}
.adventages .container .main-adv .box .image {
  position: relative;
}
.adventages .container .main-adv .box .image img.two {
  position: absolute;
  right: 2px;
}
.adventages .container .main-adv .box .image img.two::after {
  content: attr("data-number");
  width: 100%;
  height: 100%;
}
.adventages .container .main-adv .box h2 {
  font-size: 26px;
  font-weight: 600;
}
.adventages .container .main-adv .box p {
  font-size: 14px;
  color: #555;
  line-height: 1.9;
}/*# sourceMappingURL=services.css.map */