@use "component/header" as *;
@use "helper/mixin" as *;
@use "helper/variable" as *;
@use "component/btn" as *;
@use "component/animation" as *;
@use "component/shadow" as *;
/* start Container */
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    @include breakpoints(mobile) {
        max-width: 100%;
    }
    @include breakpoints(small) {
        max-width: 750px;
        // width: 100%;
    }
    @include breakpoints(medium) {
        max-width: 970px;
    }
    @include breakpoints(large) {
        // width: 970px;
        max-width: 1120px;
    }
    @include breakpoints(x-large) {
        // width: 970px;
        max-width: 1300px;
    }
}
// End Container

// Start Hero Section
main {
    position: relative;
    background-color: #73659a;
    background-image: url("/images/Al-_Kurimi_3\ f4.png");
    background-size: cover;
    height: 110vh;
    color: $text-color;
    padding-right: 12vw;
    @include breakpoints(small) {
        background-size: cover;
        height: 110vh;
    }
    .container {
        height: 100%;
        position: relative;
        @include flex(space-between, row, nowrap, center);
    }
    .text {
        padding-left: 20px;
        width: 50%;
        text-align: start;
        @include breakpoints(small) {
            top: 40%;
        }

        h1 {
            font-size: 50px;
            @include breakpoints(small) {
                font-size: 36px;
                text-align: center;
                text-shadow: 0 1px 5px #555;
            }
        }
        p {
            font-family: "GE SS Two";
            font-weight: 200;
            margin-bottom: 20px;
            @include breakpoints(small) {
                font-size: 24px;
                text-align: center;
                margin-top: 20px;
            }
            .number{
                font-family: 'Helvetica Neue LT Pro';
                font-weight: 500;
                color: $orange-color;
            }
        }
    }
    .images {
        width: 50%;
        position: relative;
        img {
            position: absolute;
    width: 200%;
    top: -320px;
    left: -40px;
    
        }
        
        
    }
}
// End Hero Section


// Start Adventage Section
.adventages{
    position: relative;
    background-image: url("/images/header-bg.png");
    background-size: 70%;
    background-repeat: repeat-x;
    .container{
        background-color: $text-color;
        position: relative;
        padding: 40px;
        z-index: 4;
        top: -200px;
        .main-adv{
            @include flex(space-between, row, nowrap, center);
            .box{
                padding: 20px 40px;
                .image{
                position: relative;

                img.two{
                    position: absolute;
                    right: 2px;
                    &::after{
                        content: attr('data-number');
                        width: 100%;
                        height: 100%;
                    }
                }}
                h2{
                    font-size: 26px;
                    font-weight: 600;
                }
                p{
                    font-size: 14px;
                    color: #555;
                    line-height: 1.9;
                }
            }
            


        }
    }
}