.h-1 {
  font-size: 57px;
  font-family: "Hacen Tunisia";
  font-weight: 200;
}
@media (max-width: 991px) {
  .h-1 {
    font-size: 36px;
  }
}

.h-2 {
  padding: 26px 0;
  font-size: 46px;
  font-family: "Hacen Tunisia";
  color: #73659A;
  font-weight: 400;
}
@media (max-width: 991px) {
  .h-2 {
    font-size: 30px;
  }
}

.h-3 {
  font-size: 30px;
}
@media (max-width: 991px) {
  .h-3 {
    font-size: 20px;
  }
}

.f-4 {
  font-size: 14px;
  color: #666;
  line-height: 2;
}
@media (max-width: 767px) {
  .f-4 {
    font-size: 12px;
  }
}

.f-5 {
  font-size: 22px;
}
@media (max-width: 991px) {
  .f-5 {
    font-size: 20px;
  }
}

.f-16pt {
  font-size: 16pt;
  line-height: 1.8;
}

.btn {
  border: 1.5px solid #73659A;
  padding: 15px 25px;
  background-color: transparent;
  color: #73659A;
  font-size: 16px;
  cursor: pointer;
  min-width: 140px;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.btn-2 {
  background-color: #E26E0B;
  border: 1.5px solid #E26E0B;
  border-radius: 2px;
  padding: 15px 25px;
  color: white;
}

@-webkit-keyframes news {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

@keyframes news {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes active-list {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
@keyframes active-list {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
@-webkit-keyframes minu {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@keyframes minu {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}
@-webkit-keyframes active {
  from {
    -webkit-clip-path: circle(6px at 50% 50px);
            clip-path: circle(6px at 50% 50px);
  }
  to {
    -webkit-clip-path: circle(130% at 50% 50px);
            clip-path: circle(130% at 50% 50px);
  }
}
@keyframes active {
  from {
    -webkit-clip-path: circle(6px at 50% 50px);
            clip-path: circle(6px at 50% 50px);
  }
  to {
    -webkit-clip-path: circle(130% at 50% 50px);
            clip-path: circle(130% at 50% 50px);
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.shadow {
  box-shadow: 0px 10px 10px 0px rgba(115, 101, 154, 0.0901960784);
}

.shadow-inset {
  box-shadow: 100px 400px 20px 20px inset rgba(251, 251, 251, 0.95);
} /* start Container */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

main {
  position: relative;
  background-color: #73659a;
  background-image: url("/images/Al-_Kurimi_3 f4.png");
  background-size: cover;
  height: 110vh;
  color: white;
  padding-right: 12vw;
}
@media (max-width: 1200px) {
  main {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  main {
    background-size: cover;
    height: 110vh;
  }
}
main .container {
  height: 105%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
main .text {
  padding-left: 40px;
  width: 50%;
  text-align: start;
  position: absolute;
  z-index: 4;
}
@media (max-width: 1199px) {
  main .text {
    top: 200px;
    right: 30px;
    width: 60%;
  }
}
@media (max-width: 767px) {
  main .text {
    width: 100%;
    top: 160px;
  }
}
main .text h1 {
  font-size: 50px;
  line-height: 0.5;
}
@media (max-width: 991px) {
  main .text h1 {
    font-size: 36px;
    text-align: start;
    text-shadow: 0 1px 5px #555;
  }
}
main .text p {
  font-family: "GE SS Two";
  font-weight: 200;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
}
@media (max-width: 991px) {
  main .text p {
    font-size: 18px;
    margin-top: 20px;
  }
}
main .text p .number {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 500;
  color: #E26E0B;
}
main .images {
  width: 50%;
}
@media (max-width: 991px) {
  main .images {
    display: none;
  }
}
main .images img.back {
  width: 1500px;
  position: absolute;
  left: -20px;
  bottom: 50px;
  transform: rotateZ(-2deg);
  z-index: 2;
}
@media (max-width: 1200px) {
  main .images img.back {
    width: 1250px;
  }
}
main .images img:last-child {
  position: absolute;
  width: 1300px;
  bottom: 60px;
  left: -15px;
  z-index: 3;
}
@media (max-width: 1200px) {
  main .images img:last-child {
    left: -95px;
    width: 1200px;
    bottom: 35px;
  }
}

.adventages {
  position: relative;
  background-image: url("/images/header-bg.png");
  background-size: 70%;
  background-repeat: repeat-x;
}
.adventages .container .main-adv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  top: -30vh;
  padding: 40px;
  z-index: 6;
}
@media (max-width: 991px) {
  .adventages .container .main-adv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.adventages .container .main-adv .box {
  padding: 20px 30px;
}
@media (max-width: 991px) {
  .adventages .container .main-adv .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
  }
  .adventages .container .main-adv .box.active {
    transform: translateX(0);
    z-index: 2;
  }
}
.adventages .container .main-adv .box .image {
  position: relative;
}
.adventages .container .main-adv .box img.two {
  position: absolute;
  right: 2px;
}
.adventages .container .main-adv .box span {
  font-family: "Helvetica Neue LT Pro";
  position: absolute;
  top: 0%;
  color: white;
  right: 24px;
  font-size: 74px;
  font-weight: 400;
}
.adventages .container .main-adv .box h2 {
  font-size: 26px;
  font-weight: 600;
}
.adventages .container .main-adv .box p {
  font-size: 14px;
  color: #555;
  line-height: 1.9;
}
.adventages .container .slider-list {
  width: 70%;
  margin: 100px auto;
  margin-top: -190px;
}
.adventages .container .slider-list ul {
  padding: 20px 0;
  margin: 0 80px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .adventages .container .slider-list ul {
    margin: 10px;
    font-size: 2.3vw;
  }
}
.adventages .container .slider-list ul .ServicesDot {
  font-weight: 600;
  font-size: 16px;
  color: #eee;
  cursor: pointer;
  position: relative;
  padding: 10px;
}
.adventages .container .slider-list ul .active.ServicesDot {
  color: #73659A;
  border-bottom: 2px solid #73659A;
}
.adventages .container .content {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.adventages .container .content img {
  width: 400px;
  height: 450px;
}
.adventages .container .content .text {
  width: 50%;
}
.adventages .container .content .text h2 {
  padding-top: 10px;
  font-size: 40px;
}
.adventages .container .content .text p {
  height: 300px;
  font-size: 14px;
  line-height: 2.3;
}
.adventages .container .content .text .link {
  margin-top: 20px;
}
.adventages .container .content .text .link a {
  margin-top: 20px;
  color: #73659A;
  border-bottom: 2px solid #73659A;
}/*# sourceMappingURL=services.css.map */