@use "../helper/variable" as *;
@use "../helper/mixin" as *;
.btn {
    border: 1.5px solid $primary-color;
    padding: 15px 25px;
    background-color: transparent;
    color: $primary-color;
    font-size: 16px;
    cursor: pointer;
    min-width: 140px;
    border-radius: 2px;
    @include breakpoints(mobile) {
        font-size: 12px;
        padding: 10px 15px;
    }
}

.btn-2{
    background-color: $orange-color;
    border: 1.5px solid $orange-color;
    border-radius: 2px;
    padding: 15px 25px;
    color: $text-color;
}

.btn-3{
    padding: 15px 25px;
    border: none;
    background-color: $primary-color;
    color: $text-color;
    font-size: 16px;
    cursor: pointer;
    min-width: 140px;
    border-radius: 2px;
    @include breakpoints(mobile) {
        font-size: 12px;
        padding: 10px 15px;
    }
}