@use "../helper/variable" as *;
.btn {
    border: 1.5px solid $primary-color;
    padding: 15px 25px;
    background-color: $text-color;
    color: $main-color;
    font-size: 20px;
    cursor: pointer;
    min-width: 150px;
}
